@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Sans+Narrow&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* color: aliceblue; */
}
body{
    background: #2e3339 !important;
}
html
{
    scroll-behavior: smooth;
    scroll-behavior: [ auto  smooth ];
}
.web__bg__color
{
    background-color:#4f96f2 !important;  
}
.web__tx__color
{
    color:#4f96f2;
}
.overlay
{
    position: absolute;
    background-color: rgb(12 12 17 / 22%) ;
    background-position: cover;
    height: 100vh;
    z-index: 400;
    width: 100%;

}
.header
{
    height: 100vh;
    width: 100%;
    background:  url("https://images.unsplash.com/photo-1489846986031-7cea03ab8fd0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80");
    /* background: linear-gradient(to bottom ,#00355f, #fff); */
    /* background: linear-gradient(to top,#00355f,#00355f,#00355f,#00355f,#00355f,#00355f, #fff); */
    opacity: 0.2;
    background-size: cover;
    background-position: center;
    clip-path: polygon(100% 0,100% 85%,50% 100% ,0 85% ,0 0);
    background-repeat: no-repeat;
    opacity: 0.9;
    position: relative;
    /* clip-path: polygon(100% 0,100% 77%,90% 100% ,0 90% ,0 0); */
    opacity: 0.9;
    overflow: hidden;
}
.nav-link
{
    display: inline-block !important;
    color: aliceblue !important;
}
.navlink:hover
{
    padding-bottom: 4px !important;
    border-bottom: 2px solid aliceblue !important;
}
.mainheading
{
    height: 91vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media (max-width: 750px) {
   .navbar-collapse{
       position: absolute  !important;
       top: 110%;
   }
   .h1__design
   {
       font-size: 2rem !important;
   }
   .mainheading
   {
       margin-top: 7px;
   }
  }
h1{
    text-align: center;
}
.navbar-brand
{
    font-size: 1.4rem !important;
    font-weight: 800;
    color: aliceblue;
    margin-right: 0rem;
}
.h1__design
{
    font-size: 3rem;
    font-weight: 900;
    font-family: 'PT Sans', sans-serif;
}
small
{
    font-size: 1rem !important;
}
/* icon design */
.fa-facebook
{
    color:#0084ff ;
    /* background-color: white; */
    padding: 20px !important;
    border-radius: 5%;
    font-size: 25px;
}
.fa-snapchat
{
    color:#f7f400 ;
}
.fa-instagram
{
    color:#d9325e;
}
.fa-github
{
    color:#fff ;
}
.fa-youtube
{
    color:#f70000 ;
}
.fa-twitter
{
    color: #0084ff;
}
.ico-hover
{
    padding: 20px !important;
    /* border-radius: 5%; */
    font-size: 25px;
    transition: all 0.2s linear;
}
.ico-hover:hover
{
    transform: scale(1.3);
}
.serve
{
    height: auto;
    width: 100%;
}
.cardrow{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn
{
    background-color: aliceblue;
    border: 2px solid #4f96f2 !important;
    border-radius: 20px !important;
    color: #4f96f2;
    text-decoration: none;
    transition: 0.6s linear;

}
.mybtn:hover
{
    color: white;
    background:#4f96f2;
}
.card
{
    color: black !important;
    width: 230px !important;
    border-radius: 15px !important;
    outline: none;
    margin: 0 !important;
    padding: 0 !important;
}
.upper
{
    height: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4f96f2;
    border-radius: 15px;
    border-bottom-left-radius:0;
    border-bottom-right-radius: 34px;
}
.card-title{
            color: #4f96f2;
}
.card__ico
{
    color: white !important;
    font-size: 6rem;   
}
.fa-react
{
    color: white !important;
    font-size: 7rem;
    animation: animate 10s infinite linear ;
}
@keyframes animate
{
    0%{
        transform:rotate(0deg);
    }
    100%
    {
        transform:rotate(369deg);
    }
}
.fa-map
{
    color: #d9325e;
}
.fa-angular
{
    color: white !important;
    font-size: 7rem;
    animation: ang 4.5s infinite linear alternate-reverse both ;
}
@keyframes ang
{
    0%{
       transform: translateY(30px);
    }
    100%
    {
        transform: translatey(-30px);
    }
}
.fa-node
{
    color: white !important;
    font-size: 7rem;
    animation: node 4.5s infinite linear alternate-reverse both ;
}
@keyframes node
{
    0%{
       transform: translateX(25px);
    }
    100%
    {
        transform: translateX(-25px);
    }
}
.fa-address-card
{
    animation: address 4.5s infinite linear alternate-reverse both ;   
}
@keyframes address{
    0%{
        transform: scale(0.7);
    }
}
.fa-gamepad
{
    animation: gamepad 4.5s infinite linear;   
}
@keyframes gamepad{
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(360deg);
    }
    100%{
        transform: scale(0.7);
    }
}
.fa-cart-arrow-down 
{
    animation: cart 4.5s infinite linear alternate;   
}
@keyframes cart{
    0%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(50px);
    }
}
.card-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-text
{
    color: black;
}
.services
{
    color:#4f96f2;
}
.about
{
    height: auto;
    /* background: rgba(253, 102, 47, 0.979); */
    width: 100%;
}
.aboutimg
{
    width: 92%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.icon
{
    color: rgba(253, 102, 47, 0.979) ;
    font-size:2rem;
}
.img__animation{
    animation: imganimation 3s linear infinite alternate-reverse both;
}
@keyframes imganimation
{
    0%{
        transform: translateY(20px);
    }
    100%
    {
        transform: translateY(-20px);
    }
}
.progress
{
    height: 0.6rem !important;
}

.input__design
{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    background: transparent !important;
    color: white !important;
}
.my-img
{
 height: 200px;
 width: 100%;  
}
label
{
    color: white;
}
/* h1 animation ********************** */
.arrowleft
{
    position: absolute;
    left: 0;
    top: 50%;
    font-size:2rem;
}
.arrowright
{
    position: absolute;
    right: 0;
    font-size: 2rem;
    /* top: 320px; */
    top: 50%;
}